<h2><a href="<%= @link.url %>"><%= @link.title %></a></h2>
<p>Reported by: <%= @link.author.username %>
<% if @link.author == current_user %>
<a href="<%= edit_link_url(@link) %>">Need to make a change?</a>
</p>
<% end %>
<p><%= @link.score%>
	<%=link_to "⇑", link_votes_url(@link, value: 1), method: :post%> /
	<%=link_to "⇓", link_votes_url(@link, value: -1), method: :post%>
</p>
<p><%= @link.desc %></p>
<h4>Comments</h4>
<ul>
  <% @comments_by_parent[nil].each do |comment| %>
    <%= render "comment_tree",
    comment: comment,
    comments_by_parent: @comments_by_parent
    %>
  <% end %>
  <li><%= make_comment(nil, @link.id) %></li>
</ul>