<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:message]%>
<%= yield %>
  <br>
  <br>
  <% if logged_in? %>
    <a href='<%= subs_url %>'>Go back to the start</a>
    <br>
    <%= button_to "Sign Out!", session_url, method: :delete%>
  <%else%>
    <a href='<%= subs_url %>'>Go back to the start</a>
    <br>
    <a href="<%= new_session_url %>">Sign in!</a>
  <% end %>
</body>
</html>
